<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>折叠分组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00D5ED201C3275CB004C6601</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00D5ED391C3275CC004C6601</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00D5ED441C3275CC004C6601</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
